aiohttp==3.1.1
async-timeout==2.0.1
attrs==17.4.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
fake-useragent==0.1.10
idna==2.6
idna-ssl==1.0.1
multidict==4.1.0
pkg-resources==0.0.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
python3-anticaptcha==0.9.1
requests==2.18.4
selenium==3.11.0
urllib3==1.26.5
yarl==1.1.1
